name: Maintenance Tasks

on:
  push:
    # tags:
    #   - '*'

jobs:

  maintenance:

    runs-on: ubuntu-latest

    permissions:
      packages: write

    steps:

      - name: Remove old untagged images
        uses: actions/delete-package-versions@v4
        with:
          package-name: "urlwatch"
          package-type: "container"
          min-versions-to-keep: 10
          delete-only-untagged-versions: "true"
